<h1><%= title 'About Me' %></h1>	
<p>i make comics on social and economic justice with relatable, fun, and sinister revelations mixed in</p>

<h2>Want to support me?</h2>
<p>you can get 10% off on all merch, cute wallpapers, and my eternal gratitude</p>
<div class="support_buttons">
	<a href="https://ko-fi.com/L3L42AQKS" target="_blank">
	  <button class="kofi">
	    <span>Support me on Ko-Fi</span>
	  </button>
	</a>
	<a href="https://www.patreon.com/pinkwug" target="_blank">
	  <button class="patreon">
	    <span>Become a Patron</span>
	  </button>
	</a>
</div>
<h2>Join my Discord</h2>
<p>review comic drafts, give suggestions, or vote on comic topics!</p>
<%= link_to image_tag("Discord-Logo+Wordmark-White.svg", class: "discord_logo"), "https://discord.gg/pinkwug", target: "_blank" %>