<h1>Listing Comics</h1>

<table>
  <thead>
    <tr>
      <th>Comic</th>
      <th>Title</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @strips.each do |strip| %>
      <tr>
        <td><%= link_to image_tag(url_for(strip.image.variant(resize_to_limit:[200,200]))), strip %></td>
        <td><%= strip.title %></td>
        <td><%= strip.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
