<% set_meta_tags description: 'Archive of Pink Wug previous comics',
                  keywords: 'Pink Wug, All Comics, past, previous' %>
<h1><%= title 'Comic Archive' %></h1>

<table>
  <thead>
    <tr>
      <th>Comic</th>
      <th>Title</th>
      <th>Upload Date</th>
    </tr>
  </thead>

  <tbody>
    <% @strips.each do |strip| %>
      <tr>
        <td><%= link_to image_tag(url_for(strip.image.variant(resize_to_limit:[300,300]))), strip %></td>
        <td><%= strip.title %></td>
        <td><%= strip.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

