<% content_for :head do %>
	<%= display_meta_tags title: 'Store' %>
	<%= display_meta_tags description: 'Now with more wugs' %>
	<%= display_meta_tags keywords: 'Hoodies, shirts, sweaters, mugs, prints' %>
<% end %>
<h1><%= title 'Store'%></h1>
