<p>Hosting & Application settings managed by <%= link_to("Heroku", "https://dashboard.heroku.com/apps/secret-retreat-55021", target: "_blank") %></p>
<p>DNS & Cache settings managed by the <%= link_to("Expedited CDN", "https://app.expeditedsecurity.com/wafs/status/YVl3ANiwk5NtyG6RMGkWJuWXI1znvFnmQS9wJLPpgW5LNzVn", target: "_blank") %> heroku add-on</p>
<p>Domain settings & Cache max age managed by <%= link_to("Cloudflare", "https://dash.cloudflare.com/b24610411373eee81dd94fa0f99f01e7/pinkwug.live", target: "_blank") %></p>
<p>Cloud Storage managed by <%= link_to("Amazon S3", "https://s3.console.aws.amazon.com/s3/buckets/pinkwuglive-samd?region=us-east-1&tab=objects", target: "_blank") %></p>