<p>This is the admin dashboard for PinkWug.live</p>
<p>
	For any feature requests, changes or questions, don't hesitate to reach out to me on
	<%= link_to("discord. ","https://discordapp.com/users/249674026966843392", target: "_blank") %><br>
	If something isn't working right, you can also
	<%= link_to("start a new issue on the github page", "https://github.com/Samuel1698/PinkWug.live/issues", target: "_blank") %>
</p>