<div class="link box">
	<h2>try these links instead</h2>
	<ul>
		<li><button><%= link_to("home", "/", tabindex: "-1") %></button></li>
		<li><button><%= link_to("archive", "/archive", tabindex: "-1") %></button></li>
		<li><button><%= link_to("shop", "/store", tabindex: "-1") %></button></li>
	</ul>
</div>