<div class="link box">
	<h2>try these links instead</h2>
	<ul>
		<li><button><%= link_to("home", root_path, tabindex: "-1") %></button></li>
		<li><button><%= link_to("archive", strips_path, tabindex: "-1") %></button></li>
		<li><button><%= link_to("shop", store_index_path, tabindex: "-1") %></button></li>
	</ul>
</div>