<% content_for :head do  %>
	<% set_meta_tags description: 'Error code 500',
										keywords: 'Server Error' %>
	<% stylesheet_link_tag "errors" %>
<% end %>
<div class="content">
	<div class="error">
		<h1><%= title 'Internal Server Error (500)' %></h1>
		<h2>we're sorry, but something went wrong.</h2>
		<p>if you are the application owner check the logs for more information.</p>
	</div>
</div>