<% content_for :head do  %>
	<%= display_meta_tags title: '404' %>
	<%= display_meta_tags	description: 'Error Code 404' %>
	<%= stylesheet_link_tag "errors" %>
<% end %>
<div class="content">
	<div class="error box">
		<h1>Page Not Found (404)</h1>
		<%= image_tag("Error.png", alt: "Error", width: "80px") %>
		<h2>the page you were looking for does not exists</h2>
		<p>you might have mistyped the address or the page may have moved</p>
	</div>
</div>