<% content_for :head do  %>
	<%= display_meta_tags title: '422' %>
	<%= display_meta_tags description: 'Error code 422' %>
	<% stylesheet_link_tag "errors" %>
<% end %>
<div class="content">
	<div class="error box">
		<h1><%= title 'Unable to Accept Request (422)' %></h1>
		<h2>the change you wanted was rejected</h2>
		<p>maybe you tried to change something you didn't have access to</p>
		<p>if you are pink wug, ask sam to check the logs</p>
	</div>
	<%= render 'linkbox'  %>
</div>