---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_API_LINK>/admin/api/2021-07/graphql.json
    body:
      encoding: UTF-8
      string: "\n\t\t  {\n\t\t\t  collections(first: 10) {\n\t\t\t    edges {\n\t\t\t
        \     node {\n\t\t\t      \ttitle\n\t\t\t        id\n\t\t\t        products(first:
        12) {\n\t\t\t          edges {\n\t\t\t            node {\n\t\t\t              id\n\t\t\t
        \             title\n\t\t\t              handle\n\t\t\t              featuredImage
        {\n\t\t\t                originalSrc\n\t\t\t              }\n\t\t\t              variants(first:
        1) {\n\t\t\t                edges {\n\t\t\t                  node {\n\t\t\t
        \                   price\n\t\t\t                  }\n\t\t\t                }\n\t\t\t
        \             }\n\t\t\t            }\n\t\t\t          }\n\t\t\t        }\n\t\t\t
        \     }\n\t\t\t    }\n\t\t\t  }\n\t\t\t}\n\t\t  "
    headers:
      Content-Type:
      - application/graphql
      X-Shopify-Access-Token:
      - "<SHOPIFY_API_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '187'
      X-Sorting-Hat-Shopid:
      - '57956237500'
      X-Shopid:
      - '57956237500'
      X-Shardid:
      - '187'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5465541'
      X-Stats-Apipermissionid:
      - '321846444220'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-07
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"collections":{"edges":[{"node":{"title":"mugs","id":"gid:\/\/shopify\/Collection\/271098577084","products":{"edges":[{"node":{"id":"gid:\/\/shopify\/Product\/6886027296956","title":"trans
        liberation now","handle":"trans-liberation-now","featuredImage":{"originalSrc":"https:\/\/cdn.shopify.com\/s\/files\/1\/0579\/5623\/7500\/products\/white-glossy-mug-11oz-handle-on-right-60224eda63f49_1024x1024_2x_dd0f9c76-c175-49b2-9868-77db445c6686.png?v=1624800269"},"variants":{"edges":[{"node":{"price":"15.00"}}]}}},{"node":{"id":"gid:\/\/shopify\/Product\/6886026084540","title":"fuck
        capitalism","handle":"fuck-capitalism","featuredImage":{"originalSrc":"https:\/\/cdn.shopify.com\/s\/files\/1\/0579\/5623\/7500\/products\/white-glossy-mug-11oz-handle-on-right-60224dd851147_1024x1024_2x_b0511ff5-f4f8-4da4-a388-2b0130de198e.png?v=1624800218"},"variants":{"edges":[{"node":{"price":"15.00"}}]}}}]}}},{"node":{"title":"clothes","id":"gid:\/\/shopify\/Collection\/271099494588","products":{"edg[...]
