@import "variables";

// ----------------------------------------------
// Header resizing for smallest screens
// ----------------------------------------------
@media (max-width: 350px){
	.store .shop_collections {
		bottom: -12.5px;
	}
	header {
		nav ul li a {
			padding: 35px 7px 16px;
			margin: 0;
			left: 0.2px;
			span {
				bottom: -39.4px;
				height: 22px;
				line-height: 22px;
				width: 58px;
			}
			&.strips_path {
				left: -20.3px;
			}
			&.about_path {
				left: 21px;
			}
			&.icons {
				top: -12.9px;
			}
		}
		.shelf {
			width: 320px;
			background: image-url("MenuSmall.png") center/320px no-repeat;
		}
	}
}
// ----------------------------------------------
// Footer resizing for smallest screens
// ----------------------------------------------
@media (max-width: 445px){
	.comment {
		p.ad {
			position: absolute;
			bottom: 30px;
		}
		p:last-of-type {
		position: initial;
		display: block;
		text-align: end;
		margin-top: 6px;
		}
	}
	footer {
		height: 250px;
		width: 100%;
		max-width: 445px;
		background: image_url("Footer2.png") 50% 0/445px no-repeat;
		a {
			padding: 21px 9px 0;
			&.discord {
			  left: -8px;
			}
			&.twitter {
			  left: 0px;  
			}
			&.instagram {
			  left: 8px;  
			}
			&.facebook {
			  left: -8px;
			}
			&.reddit {
			  left: 0px;
			}
			&.tumblr {
			  left: 8px;  
			}
		}
		.wrap {
			display: block;
			height: 0;
			&.one a {
				bottom: -72.1px;
			}
			&.two a {
			  bottom: -143.4px;
			}
		}
		#plug {
			font-size: 9px;
			bottom: 9px;
		}
	}
}
//-----------------------------------------------
// From 320 to 540 pixels
// ----------------------------------------------
@media (max-width: $small){
	main {
		max-width: $small;
	}
	h1, h2 {		
		font-size: 1rem; 
	}
	p {
		font-size: 0.8rem;
		margin-right: 16px;
		margin-left: 16px;
	}
	button {
		h2 {
			margin-right: 16px;
			margin-left: 16px;
		}
	}
	#main {
		&.search_margin{
			margin-top: 2.5rem;
			transition: margin-top 0.1s ease-out, 0.1s ease-out;
		}
	}
}
// ---------------------------------------------------
// From 541 to biggest screen size
// ---------------------------------------------------
@media (min-width: $small) {
	h1, h2 {
		font-size: 1.1rem;
		margin-right: 16px;
		margin-left: 16px;
	}
	p {
		font-size: 1rem;
	}	
	.img_container {
		transform: translate(2%, -24%);
	}
}
// ---------------------------------------------------
// From 940 pixels upwards
// ---------------------------------------------------
@media (min-width: $medium - 1){
	h1{
		font-size: 1.2rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	p {
		font-size: 1rem;
	}
	header {
		height: 140px;
		ul {
			position: relative;
			bottom: 60px;
		}
	}
	.share_buttons button {
		span {
			left: 50%;
			&::after {
				left: 50%;
			}
		}
	}
	.store .shop_collections {
		bottom: -17px;
	}
	.img_container {
		transform: translate(1%, -22%);
	}
}
// -----------------------------------------
// For bigger monitors. 1248px +
// -----------------------------------------
@media (min-width: $big) {
	h1 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	p {
		font-size: 1rem;
	}
	header {
		position: relative;
		display: block;
		margin: 0 auto 15px;
		width: $big;
	}
	.img_container {
		transform: translate(-37%, -20%);
	}
	footer {
		a {
			position: absolute;
			bottom: 39.3px;
			// transform: translateY(-0.5px);
			&.discord {
			  left: calc(397.56px - 10px);
			}
			&.twitter {
			  left: calc(468.34px - 10px); 
			}
			&.instagram {
			  left: calc(541.12px - 10px); 
			}
			&.facebook {
			  left: calc(612.9px - 10px); 
			}
			&.reddit {
			  left: calc(684.68px - 10px); 
			}
			&.tumblr {
			  left: calc(756.46px - 10px); 
			}
		}
	}
}
// -----------------------------------------
// For biggest monitors. 2000px +
// -----------------------------------------
@media (min-width: $biggest){
	h1 {
		font-size: 1.5rem;
	}
	.img_container {
		transform: translate(-60%, -12%);
	}
}
//-----------------------------------------------
// target only landscape mobile users 
//-----------------------------------------------
@media (orientation: landscape) and (pointer: coarse) and (max-width: 900px) {
	.content {
		max-width: 125vh;
	}
}
//-----------------------------------------------
// For iPads & Devices that dont support hover
//-----------------------------------------------
@media (hover: none) and (pointer: coarse) {
	header .header_logo {
		.logo:active, .logo:hover, .logo.active {
			span {
				background-position-y: bottom;
			}
		}
		nav ul li {
			a.icons:active, a.icons:focus-visible, a.icons:hover, a.icons.active {
				background-position-y: -80.1px;
			}
		}
	} 
	.comment {
		a:active {
			color: #48c2c8;
		}
		button:hover {
			span {
				visibility: visible;
				z-index: 0;
			}
		}
	}
}
//-----------------------------------------------
// For desktops & Devices that support hover
//-----------------------------------------------
@media (hover: hover) and (pointer: fine) {
	header {
		.header_logo {
			.logo:active, .logo:hover, .logo:focus-visible, .logo.active {
				span {
					background-position-y: bottom;
				}
			}
		}
		nav ul li {
			a.icons:active, a.icons:focus-visible, a.icons:hover, a.icons.active {
				background-position-y: -80.1px;
			}
		}
		.header_links {
			.patreon_link:hover {
				background: image-url("Dono1.png") center/40px no-repeat;
				bottom: 43px;
				right: 95px;
			}
			.kofi_link:hover {
				background: image-url("Dono2.png") center/40px no-repeat;
				bottom: 13px;
			}
		}
	}
	.comment {
		a:hover {
			color: #48c2c8;
		}
		button:hover{
			span {
				visibility: visible;
				z-index: 0;
			}
		}
	}
	footer {
		#plug a:hover {
			color: #21A793;
		}
		a:hover {
			bottom: -54px;
			padding: 10px;
			@media (min-width: $big) {
				bottom: 39.3px;
			}
		}
		.one a:hover {
			@media (max-width: 445px){
				padding: 11px 9px 8px;
				bottom: -62.3px;
			}
		}
		.two a:hover {
			@media (max-width: 445px){
				padding: 11px 9px 8px;
				bottom: -134.3px;
			}
		} 
		a:focus-visible {
			bottom: -54px;
			padding: 10px 9px 10px 9px;
			@media (min-width: $big) {
				position: absolute;
				bottom: 39.3px;
			}
			&::after {
				top: -3px;
				left: -1px;
				right: -1px;
				bottom: 1px;
				@media (min-width: $big) {
					top: -3px;
					left: -1px;
					right: -1px;
					bottom: 1px;
				}
			}
		}
		.one a:focus-visible {
			@media (max-width: 445px){
				padding: 11px 9px 8px;
				bottom: -62.3px;
			}
		}
		.two a:focus-visible {
			@media (max-width: 445px){
				padding: 11px 9px 8px;
				bottom: -134.3px;
			}
		}
	}
}