@import "variables";

//-----------------------------------------------
// For iPads & Devices that dont support hover
//-----------------------------------------------
@media (hover: none) and (pointer: coarse) {
	header {
		.header_logo {
			&:active {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
			&:hover {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
			&.active {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
		}
		nav ul li {
			a.strips_path:active {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path:active {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path:active {
				background: image-url("About2.png") center/80px no-repeat;
			}
			a.strips_path:hover {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path:hover {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path:hover {
				background: image-url("About2.png") center/80px no-repeat;
			}
			a.strips_path.active {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path.active {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path.active {
				background: image-url("About2.png") center/80px no-repeat;
			}
		}
	} 
	.comment {
		a:active {
			color: limegreen;
		}
	}
	.share button:hover {
		span {
			visibility: visible;
			z-index: 0;
		}
	}
}
//-----------------------------------------------
// For desktops & Devices that support hover
//-----------------------------------------------
@media (hover: hover) and (pointer: fine) {
	header {
		.header_logo {
			&:active {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
			&:hover {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
			&:focus-visible {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
			&.active {
				background: image-url("Profile2.png") center/115px no-repeat;
			}
		}
		nav ul li {
			a.strips_path:active {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path:active {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path:active {
				background: image-url("About2.png") center/80px no-repeat;
			}
			a.strips_path:hover {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path:hover {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path:hover {
				background: image-url("About2.png") center/80px no-repeat;
			}
			a.strips_path:focus-visible {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path:focus-visible {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path:focus-visible {
				background: image-url("About2.png") center/80px no-repeat;
			}
			a.strips_path.active {
				background: image-url("Archive2.png") center/80px no-repeat;
			}
			a.store_index_path.active {
				background: image-url("Shop2.png") center/80px no-repeat;
			}
			a.about_path.active {
				background: image-url("About2.png") center/80px no-repeat;
			}
		}
		.header_links {
			.patreon_link:hover ~ .sibling {
				background: image-url("Dono1.png") center/180px no-repeat;
			}
			.kofi_link:hover ~ .sibling {
				background: image-url("Dono2.png") center/180px no-repeat;
			}
		}
	}
	.comment {
		a:hover {
			color: limegreen;
		}
	}
	.share button:hover{
		span {
			visibility: visible;
			z-index: 0;
		}
	}
}
// ----------------------------------------------
// Header resizing for smallest screens
// ----------------------------------------------
@media (max-width: 350px){
	header {
		.shelf {
			width: 320px;
		}
		nav ul li a {
			margin: 0 12px;	
			span {
				bottom: -8.4px;
			}
		}
	}
}
// ----------------------------------------------
// For the footer icons
// ----------------------------------------------
@media (max-width: 485px){
	footer .socialMediaLinks 	a {
		margin: 10px 15px;
	}
}
//-----------------------------------------------
// From 320 to 540 pixels
// ----------------------------------------------
@media (max-width: $small){
	main {
		max-width: $small;
	}
	h1, h2 {		
		font-size: 1rem; 
	}
	p {
		font-size: 0.8rem;
		margin-right: 16px;
		margin-left: 16px;
	}
	button {
		h2 {
			margin-right: 16px;
			margin-left: 16px;
		}
	}
	#main {
		&.search_margin{
			margin-top: 2.5rem;
			transition: margin-top 0.1s ease-out, 0.1s ease-out;
		}
	}
}
// ---------------------------------------------------
// Between 350 and 939 pixels
// ---------------------------------------------------
@media (max-width: $medium - 1) {
	#main { 
		&.menu_margin {
			margin-top: 16rem; //4em for each extra menu item
			transition: margin-top 0.3s ease-out, 0.3s ease-out;
		}
	}
}

// ---------------------------------------------------
// From 541 to biggest screen size
// ---------------------------------------------------
@media (min-width: $small) {
	h1, h2 {
		font-size: 1.1rem;
		margin-right: 16px;
		margin-left: 16px;
	}
	p {
		font-size: 1rem;
	}	
	.share button {
		span {
			left: 50%;
			&::after {
				left: 50%;
			}
		}
	}
	.img_container {
		transform: translate(2%, -24%);
	}
}
// ---------------------------------------------------
// From 940 pixels upwards
// ---------------------------------------------------
@media (min-width: $medium - 1){
	h1{
		font-size: 1.2rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	p {
		font-size: 1rem;
	}
	header {
		height: 150px;
		ul {
			position: relative;
			bottom: 60px;
		}
	}
	.img_container {
		transform: translate(1%, -22%);
	}
}
// -----------------------------------------
// For bigger monitors. 1200px +
// -----------------------------------------
@media (min-width: $big) {
	h1 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	p {
		font-size: 1rem;
	}
	.img_container {
		transform: translate(0%, -20%);
	}
}
// -----------------------------------------
// For biggest monitors. 2000px +
// -----------------------------------------
@media (min-width: $biggest){
	h1 {
		font-size: 1.5rem;
	}
	.img_container {
		transform: translate(0%, -12%);
	}
}
//-----------------------------------------------
// target only landscape mobile users 
//-----------------------------------------------
@media (orientation: landscape) and (pointer: coarse) and (max-width: 900px) {
	header {
		width: 125vh;
	}
	.content {
		max-width: 125vh;
	}
}