$dark-brown: #313131;
$light-brown: #3F3F3F;

$dark-grey: #51595b;
$light-grey: #E7E8EA;

$wug-black: #404041;

$about: #CAE8E0;
$red: #C03636;
$pink: #fad2de;
$blue: #a1dcee;

$patreon: #EA918B;
$kofi: #6EAFC0;
$discord: #8094C8;

$small: 540px;
$medium: 940px;
$big: 1200px;
$biggest: 2000px;