$dark-brown: #313131;
$light-brown: #3F3F3F;

$dark-grey: #51595b;
$light-grey: #E7E8EA;

$about: #CAE8E0;
$red: #C03636;

$fiery-coral: #FF424D;
$kofi: #29ABE0;
$blurple: #5865F2;

$small: 540px;
$medium: 940px;
$big: 1200px;
$biggest: 2000px;