$dark-brown: RGBA(49,49,49);
$light-brown: #51595b;
$highlight-color: RGBA(162,221,237);
$cyan: #7ac3c38a;
$fiery-coral: #FF424D;
$kofi: #29ABE0;
$blurple: #5865F2;
$small: 540px;
$medium: 940px;
$big: 1200px;
$biggest: 2000px;