@import "variables";
.content_about {
	margin-left: 10px;
	margin-right: 10px;
}
.about {
	background-color: $about;
	padding: 4px 12px;
	border-radius: 12px;
	margin-top: 12px;
	padding-bottom: 8px;
	h1, h2 {
		margin-top: 8px;
	}
	p {
		margin: 0;
		text-align: center;
	}
	.support_buttons {
		a {
	    margin: 0;
	    padding: 0.4rem 0;
		}
	}
	.discord_logo {
		a {
			padding: 3px 0 10px;
		}
		img {
			border-radius: 7px;
			border: 0 none white;
			padding: 4px 10px;
			text-align: center;
			background-color: $blurple;
			height: 32px;
		}
	}
	.support_buttons, .discord_logo {
		margin: 4px auto 0;
		button {
			margin-top: 4px;
		}
	}
	form {
		font-size: 0.9em;
		label {
			display: block;
			margin-top: 12px;
		}
		input:not(:last-child), textarea {
			width: 100%;
			display: block;
			margin-top: 6px;
		}
		.warning {
			position: relative;
			float: right;
			top: 0.1rem;
			right: 2px;
			margin-top: 8px;
			font-size: 0.7rem;
			font-weight: 300;
			color: grey;
		}
		input:last-child {
			margin-top: 6px;	
			background-color: rgba(0,0,0,0.1);
			border: 1px solid black;
			line-height: 1.5rem;
			padding: 2px 10px;
			border-radius: 7px;
			cursor: pointer;
			text-decoration: none;
			text-shadow: none;
		}
		textarea {
			resize: vertical;	
			height: 10em;
		}
	}
}
@media (min-width: $small){
	$min-width: 250px;
	$max-width: 270px;
	.about form textarea {
		height: 6.8em;
	}
	.content_about {
		max-width: 80vw;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		display: grid;
		grid-template-columns: $min-width $max-width;
		grid-template-areas: "title   business"
												 "support business"
												 "discord discord";
		.me {
			grid-area: title;
			max-height: 8rem;
		}
		.support {
			grid-area: support;
			max-height: 12.5rem;
		}
		.discord {
			grid-area: discord;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-height: 7.5rem;
		}
		.business {
			grid-area: business;
			margin-left: 12px;
		}
	}
}
@media (min-width: $medium) {
	.content_about {
		grid-template-columns: 250px 450px;
	}
	.about form textarea{
		height: 8em;
	}
}