@import "variables";
.content_about {
	margin-left: 10px;
	margin-right: 10px;
	h1 {
		margin-bottom: 30px;
	}
	p {
		line-height: 1.3;
		margin: 50px 0;
	}
}
@media (min-width: $small){
	.content_about {
		margin: 0 20px;
	}
}
@media (min-width: 750px){
	.content_about {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		h1 {
			font-size: 1.1rem;
		}
	}
}
