@font-face {
	font-family: 'FF Meta';
	src: image-url('../fonts/meta-normal.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
.columns {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid darkslategrey;
	.column {
		position: relative;
		.loading {
			font-family: "LatoWeb", Arial, sans-serif;
			position: absolute;
			bottom: 32%;
			left: 41%;
			padding: 60px;
			font-size: 14px;
			color: grey;
			background: image-url("greyspinner.gif")50% 50%/150px no-repeat;
		}
		.tooltip {
			position: absolute;
			padding: 15px;
		  display: inline-block;
		  background: image-url("icons8-info.svg")50% 50%/30px no-repeat;
		  top: 49%;
		  right: 14.5%;
		  .tooltiptext {
		  	p {
		  		margin: 0;
		  	}
		  	a {
		  		color: white;
		  		&:hover {
		  			color: #21A793;
		  		}
		  	}
		    visibility: hidden;
		    width: 280px;
		    background-color: #616161;
		    color: #fff;
		    text-align: center;
		    padding: 10px;
		    border-radius: 6px;
		   	// Tooltip position
		    position: absolute;
		    z-index: 1;
		    top: 120%;
        right: -30%; 
        margin-left: -140px;
        &::after {
      	  content: " ";
      	  position: absolute;
      	  right: 7%;
      	  bottom: 100%; /* To the top of the tooltip */
      	  margin-top: -5px;
      	  border-width: 5px;
      	  border-style: solid;
      	  border-color: transparent transparent #616161 transparent;
        }
		  }
		  &:hover .tooltiptext {
		    visibility: visible;
		  }
		}
	}
	#Graph {
		overflow: auto;
	}
	#FID, #CLS, #LCP {
		min-width: 330px;
		max-width: 330px;
		font-family: 'FF Meta';
		position: relative;
		.ms, .sec {
			position: absolute;
			color: #616161;
			font-weight: normal;
			top: 46%;
			font-size: 40px;
		}
		.ms {
			left: 48%;
		}
		.sec {
			left: 42%;
		}
		.figcaption {
			position: absolute;
			bottom: 24px;
			margin-left: 16px;
			display: grid;
			grid-template-areas: "good average bad";
			div {
				font-size: 10px;
				color: #9DA2A2;
				font-weight: bold;
				display: flex;
				flex-direction: column;
			  align-items: center;
			  margin-right: 40px;
			}
			.good {
				grid-area: good;
				span:last-child {
					color: #0CCE6B;
				}
			}
			.average {
				grid-area: average;
				span:last-child {
					color: #FFA400;
				}
			}
			.bad {
				grid-area: bad;
				span:last-child {
					color: #FF4E42;
				}
			}
		}
	}
}
.developer_info {
	a {
		color: limegreen;
		&:hover {
			color: darkseagreen;
		}
	}
}
body .index {
	th.sortable.col {
		a {
			margin-left: 1.5rem;
		}
		&::after {
			right: 95%;
		}
	}
}
.disabled {
	display: none !important;
}