@font-face {
	font-family: 'FF Meta';
	src: font-url('../fonts/meta-normal.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
#wrapper {
	min-height: 94vh;
}
#footer {
	margin-top: auto;
}
body.active_admin.logged_in #active_admin_content.mine {
	padding: 20px 45px 20px 25px;
	#main_content_wrapper {
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		background-color: white;
		border-radius: 7px;
	}
	#main_content {
		background-color: transparent;
		padding: 0;
	}
	.header .site_title {
		z-index: 10;
	}
	.columns {
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-radius: 5px;
		.column {
			position: relative;
			padding: 20px;
			margin-bottom: 10px;
		}
	}
	.admin_panel {
		a {
			color: #21A793;
			&:hover {
				color: skyblue;
			}
		}
	}
}
