// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.error {
	background-color: $red;
	color: white;
	padding: 4px 12px;
	border-radius: 12px;
	margin-top: 2rem;
	text-align: center;
	h1 {
		font-size: 2rem;
		margin: 1rem;
	}
	p {
		margin-bottom: 6px;
	}
	ul {
		margin-top: 0;
		margin-bottom: 6px;
		list-style: none;
		padding-left: 0;
		a {
			color: $dark-brown;
			&:hover {
				color: $light-grey;
			}
		}
	}
}