@import "variables";
.index {
	max-width: 80vw;
	margin-right: auto;
	margin-left: auto;
	h1 {
		margin-bottom: 8px;
	}
}
.img_container {
	position: absolute;
	left: -14rem;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 18px;
	button {
	  appearance: none;
	  border: none;
	  font-size: 0;
	  width: 32px;
	  height: 32px;
	  cursor: pointer;
	  background: image-url("layout-grid.svg") center/32px no-repeat;
	  border: 0;
	  &.gallery {
	    background: image-url("layout-list.svg") center/32px no-repeat;
	  }
	  &.hidden {
	  	display: none;
	  }
	}
}
.table {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	min-height: 2rem;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	&:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		button {
			padding: 6px 10px;
			margin: 0;
			appearance: none;
			cursor: pointer;
			border: 0 none white;
			background: image-url("icons8-sort.svg") 80% 25%/24px no-repeat;
			&.desc {
				background: image-url("icons8-sort-down.svg") 80% 70%/24px no-repeat;
			}
			&.asc {
		    background: image-url("icons8-sort-up.svg") 80% -20%/24px no-repeat;
			}
		}
	}
	.cell {
		width: 200px;
	}
}
.big_row {
	display: block;
}
.button {
	display: none;
}
.table.gallery {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.button.gallery {
	display: block;
	margin: 0;
	background: none;
	padding: 8px 10px;
}
.big_row.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.row.gallery {
	flex-direction: column;
	justify-content: flex-start;
	&.titles {
		display: none;
	}
	.cell {
		min-width: 200px;
	 	max-width: 300px;
	 	&:first-child {
	 		min-width: 300px;
	 	}
	}
	p {
		margin: 2px 0px 10px;
		padding: 0 10px;
		font-size: 0.7rem;
		font-weight: 300;
		color: grey;
		&:last-child {
			display: none;
		}
	}
}
@media (min-width: 600px){
	.index {
		max-width: 600px;
	}
}
@media (min-width: 900px){
	.index {
		max-width: 900px;
	}
}
@media (min-width: 1200px){
	.index {
		max-width: 80vw;
	}
}
@media (max-width: 700px) {
	.img_container {
		display: none;
	}
	.row {
		flex-direction: column;
		justify-content: flex-start;
		&.titles {
			display: none;
		}
		p {
			margin: 2px 0px 10px;
			padding: 0 10px;
			font-size: 0.7rem;
			font-weight: 300;
			color: grey;
			&:last-child {
				display: none;
			}
		}
	}
	@media (min-width: 520px) {
		.table {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
@media (min-width: $medium){
	.line {
		max-width: 950px;
	}
}
@media (min-width: 825px){
	.table.gallery {
		align-items: flex-start;
	}
	.big_row.gallery {
		justify-content: flex-start;
	}
}
@media (hover: hover) and (pointer: fine) {
	.big_row {
		.row:hover {
			background-color: $light-grey;
			a img{
				opacity: 0.5;
			}
		}
	}
	.big_row.gallery {
		.row:hover {
			background-color: initial;
			a img{
				opacity: 1;
			}
		}
	}
}
