@import "variables";

.img_container {
	position: absolute;
	left: -14rem;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transform: translate(0%, -24%);
	padding-left: 18px;
	button {
	  appearance: none;
	  font-size: 0;
	  width: 32px;
	  height: 32px;
	  cursor: pointer;
	  background: url("icons8-image-gallery.svg") center/32px no-repeat;
	  border: 0;
	  &.gallery {
	    background: url("icons8-list.svg") center/32px no-repeat;
	  }
	  &.hidden {
	  	display: none;
	  }
	}
}
.table {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	min-height: 2rem;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	&:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		button {
			padding: 6px 10px;
			margin: 0;
			appearance: none;
			cursor: pointer;
			border: 0 none white;
			background: url("icons8-sort.svg") 80% 25%/24px no-repeat;
			&.desc {
				background: url("icons8-sort-down.svg") 80% 70%/24px no-repeat;
			}
			&.asc {
		    background: url("icons8-sort-up.svg") 80% -20%/24px no-repeat;
			}
		}
	}
	.cell {
		width: 200px;
	}
}

.table.gallery {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.row.gallery {
	flex-direction: column;
	justify-content: flex-start;
	&:first-child {
		display: none;
	}
	.cell {
		min-width: 200px;
	 	max-width: 300px;
	 	&:first-child {
	 		min-width: 300px;
	 	}
	}
	p {
		margin: 2px 0px 10px;
		padding: 0 10px;
		font-size: 0.7rem;
		font-weight: 300;
		color: grey;
		&:last-child {
			display: none;
		}
	}
}
.line {
	margin-right: auto;
	margin-left: auto;
}
@media (max-width: 700px) {
	.img_container {
		display: none;
	}
	.row {
		flex-direction: column;
		justify-content: flex-start;
		&:first-child {
			display: none;
		}
		p {
			margin: 2px 0px 10px;
			padding: 0 10px;
			font-size: 0.7rem;
			font-weight: 300;
			color: grey;
			&:last-child {
				display: none;
			}
		}
	}
	@media (min-width: 520px) {
		.table {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
@media (min-width: $medium){
	.line {
		max-width: 75vw;
	}
}