.table {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	min-height: 2rem;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	&:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-around;
	}
	.cell {
		min-width: 200px;
	 	max-width: 300px;
	}
}