@import "variables";
h1.store {
	img {
		height: 100px;
	}
}
button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	padding: 8px 10px;
	appearance: none;
	cursor: pointer;
	background-color: $pink;
	border: 1.5px solid black;
	border-radius: 7px;
	// background: image-url("icons8-sort-down.svg") 100% 100%/24px no-repeat;
	&.asc {
		background: image-url("icons8-sort-up.svg") 100% 90%/24px no-repeat;
	}
	h2 {
		margin: 0;
	}
}
