html { box-sizing: border-box;}
div {margin:0;padding:0;border:0;}
ol,ul{list-style:none}
*, *:before, *:after { box-sizing: inherit; }
img { max-width: 100%; vertical-align: middle; border: 0; }
button { border: none;}

@import "variables";

// =============================================================================
// Base tags
// =============================================================================
@font-face {
  font-family: 'JollyGood Sans Basic';
  src: image-url('../fonts/JollyGoodSansBasic.woff2') format('woff2'),
       image-url('../fonts/JollyGoodSansBasic.woff') format('woff'),
       image-url('../fonts/JollyGoodSansBasic.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JollyGood Sans Bold';
  src: image-url('../fonts/JollyGoodSansBold.woff2') format('woff2'),
       image-url('../fonts/JollyGoodSansBold.woff') format('woff'),
       image-url('../fonts/JollyGoodSansBold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 1.125rem;
}
body {
  font-family: 'JollyGood Sans Basic', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 0;
}
h1, h2 {
  text-align: center; 
  font-weight: normal;
}
a {
  text-decoration: none;
  color: black;
}
a, button, div {
  // For browsers that support it
  outline-offset: 2px;
  &:focus-visible {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color; 
    }
  }
}
input[type="submit"], img {
  outline-offset: 2px;
  &:focus-visible {
    content: '';
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color; 
  }
}

// Hiding the text inside the buttons
.visually-hidden { //https://accessibility.18f.gov/hidden-content/
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
}
// Skip all navigation and jump to content
#skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  a:focus {
    position:static;
    width:auto;
    height:auto;
  }
}
.container {
  min-width: 320px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body:hover .visually-hidden a, 
body:hover .visually-hidden input, 
body:hover .visually-hidden button { display: none}

// =============================================================================
// Header
// =============================================================================

header {
  font-size: 18px;
  padding-bottom: 22px;
  .header_wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .header_logo {
    margin: 12px 12px 0;
    display: inline-block;
  }
  a {
    display: block;
  }
  .shelf {
    display: block;
    margin: 0 auto;
  }
  ul {
    text-align: center;
    margin: 0 auto 4px;
    padding: 0;
    display: block;
    height: 52px;
    li {
      display: inline-block;
      height: 42px;
      a {
        padding: 26px;
        cursor: pointer;
        margin: 0 10px;
        position: relative;
        &.root_path {
          background: image-url("Home.png") center/70px no-repeat;
        }
        &.strips_path {
          background: image-url("Archive.png") center/70px no-repeat;
        }
        &.store_index_path {
          background: image-url("Shop.png") center/70px no-repeat;
        }
        &.about_path {
          background: image-url("About.png") center/70px no-repeat;
        }
        span {
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .header_links {
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    a {
      position: absolute;
      bottom: 18px;
      &.discord_link {
        right: 113px;
      }
      &.kofi_link {
        right: 69px;
      }
      &.patreon_link {
        right: 25px;
      }
    }
  }
}

// =============================================================================
// Main css
// =============================================================================
main {
  margin: 0 auto 25px;
  min-width: 320px;
}
.support_buttons { 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  button {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    line-height: 32px;
    display: inline-block;
    padding: 1px 10px 2px 36px;
    border-radius: 7px;
    cursor: pointer;
    border: 0 none white;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Quicksand', 'JollyGood Sans Basic', sans-serif ;
    font-weight: 700;
    font-size: 14px;
    &.patreon {
      background: image-url("icons8-patreon-white.svg") 8% 50%/16px no-repeat,
                  linear-gradient($fiery-coral,$fiery-coral);
    }
    &.kofi {
      background: image-url("Ko-fi_Icon_RGBforDarkBg.png") 4% 50%/28px no-repeat,
                  linear-gradient($kofi,$kofi);
    }
    span {
      color: white;
      letter-spacing: -0.15px;
      padding: 0;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
    }
  }
}
.parent {
  position: relative;
  text-align: center;
  .comic {
    margin: 0;
    width: 100%;
  }
  .disabled {
    display: none;
  }
}
.content {
  margin: 0 auto;
  max-width: 70vh;
  .parent {
    width: 100%;
  }
  div:not(:first-of-type) {
    max-width: 93%;
    margin: 0 auto 8px;
  }
}
.comic_Nav {
  display: grid;
  grid-template-areas:
    "first  previous random next recent";
  font-size: 24px;
  a {
    background-color: white;
    border: none;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 20px;
    }
    &.disabled {
      pointer-events: none;
      color: grey;
    }
  }
  .fa-angle-double-left {
    grid-area: first;
  }
  .fa-angle-left {
    grid-area: previous;
  }
  .fa-rotate-right {
    grid-area: random;  
  }
  .fa-angle-right {
    grid-area: next;
  }
  .fa-angle-double-right{
    grid-area: recent;
  }
}
.comment {
  background-color: $dark-grey;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  img {
    float: left;
    margin-right: 8px;
  }
  p {
    font-size: 0.9rem;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &:first-of-type {
      font-size: 0.8rem;
      // Pixel amount is based on image size +2 for bottom margin/padding
      margin-top:    calc( 18px - (0.8rem / 2));
      margin-bottom: calc( 14px - (0.8rem / 2)); //20px
    }
    &:nth-child(3){
      margin-top: 0.7rem;
    }
    a {
      color: darkseagreen; 
    }
  }
}
.share {
  font-family: 'JollyGood Sans Bold', 'JollyGood Sans Basic', sans-serif;
  font-weight: bold;
  background-color: $light-grey;
  padding: 8px 12px;
  border-radius: 12px;
  position: relative;
  p {
    word-wrap: break-word;
    font-size: 0.8rem;
    margin: 0;
    &:last-child {
      margin-right: 40px;
      font-size: 0.7rem;
    }
  }
  button { // Tooltip 
    position: absolute;
    cursor: pointer;
    background: image-url("copy.svg")50% 50% no-repeat;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 23px 25px;
    span { // Tooltip text
      position: absolute;
      z-index: -1;
      width: 110px;
      bottom: 70%;
      left: -10%;
      margin-left: -55px; //Has to be half of the width
      background-color: $dark-brown;
      color: white;
      text-align: center;
      padding: 6px 0 4px;
      border-radius: 6px;
      margin-bottom: 6px;
      &::after { // Down arrow
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 75%; // 50% for center
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $dark-brown transparent transparent transparent;
      }
    }
    &.active {
      background: image-url("clipboard-check.svg")50% 50% no-repeat;
      visibility: visible;
      z-index: 0;
    }
  }
}
// =============================================================================
// footer
// =============================================================================

footer {
  text-align: center;
  color: white;
  background-color: $dark-brown;
  margin-top: auto;
  font-size: 0; //To get rid of generated whitespace
  // background: image-url("TempFooter.png") no-repeat;
  // background-position: 100% 100%;
  // background-size: 700px;
  a {
    vertical-align: center;
    font-size: 16px;
    margin: 0px 15px;
    padding: 15px 0px 16px;
    img {
      width: 50px;
    }
  }
  p {
    font-size: 13px;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
}
.footer_Border {
  padding: 40px;
  border-bottom: 1px solid black;
}
.socialMediaLinks {
  margin-top: 30px;
  margin-bottom: 10px;
}
@import "mediaQueries"